@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');


:root{

    /* Variáveis de Cores */
    --var-corPrimariaMULTI: #90C;
    --gradienteMULTI-01: linear-gradient(95deg, #90C 0%, #3A00AD 100%);
    --gradienteMULTI-02: linear-gradient(98deg, #3A00AD 0%, #3232FF 88.08%);
    --gradienteMULTI-03: linear-gradient(96deg, #F0F 0%, #90C 100%);
    --gradienteMULTIbanner: linear-gradient(65deg, rgba(148,40,159,1) 40%, rgba(57,0,171,1) 100%);

    --bg-color: #fff;
    --mg-color: #F2F2F2;
    --color-black01: #000000;
    --color-bacl02: #1B1C1D;
}

header.version_1 .main_header, .main_title, footer.revealed{
    background: var(--gradienteMULTIbanner) !important;
}

main{
    background-color: var(--bg-color);
    font-family: 'Montserrat';
    color: var(--color-black01);
}

main.detCurso{
    background-color: var(--bg-color);
    font-family: 'Montserrat';
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    color: #000000;
    gap: 100px;
}

main.detCurso a{
    color: var(--var-corPrincipal);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    cursor: pointer !important;
    text-decoration: underline;
}

main.detCurso a.btn_multi{
    color: var(--bg-color) !important;
    text-decoration: none !important;
}

h1{
    font-family: 'Montserrat';
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

h2.numberRound{
    color: var(--bg-color);
    background: var(--var-corPrincipal);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding: auto;
    text-align: center;
}

h2.numberRound_invert{
    color: var(--var-corPrincipal);
    background: transparent;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding: auto;
    text-align: center;
    border: 1px solid var(--var-corPrincipal);
}

h2.subTitulo{
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

h3{
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

p{
    font-family: 'Montserrat';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    /* line-height: normal; */
    text-align: justify;
}

.center{
    text-align: center;
}

.mCenter{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tb{
    color: var(--color-black01);
}

.tw{
    color: #F2F2F2 !important;
}

/* Divs Estruturais */
.w40{
    width: 40%;
}

.w50{
    /* não utilizar para conteúdo se não 
    houver uma w50 com imagem antes */
    width: 50%;
}

.w60{
    width: 60%;
}

.w100{
    width: 100%;
}

.gap16{
    display: flex;
    gap: 16px;
    flex-direction: column;
}

.gap24{
    display: flex;
    gap: 24px;
    flex-direction: column;
}

.gap10p{
    gap:10% !important;
}

.grad01{
    background: var(--var-gradientePrincipal);
}

.grad02{
    background: var(--var-gradienteSecundario);
}

.grad03{
    background: var(--var-gradienteTerciario);
}

.rounded16{
    border-radius: 16px;
    padding: 16px 32px;
}

main.detCurso form{
    display: flex;
    gap: 16px;
    flex-direction: column;
    margin-top: 15px;
}

.fEnd{
    justify-content: flex-end;
}

/* Divs Especiais */
.flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flexinline_8{
    display: inline-flex;
    gap: 8px;
    align-items: flex-start;
}

.flexinline_16{
    display: inline-flex;
    gap: 16px;
    align-items: center;
}

.flexinline_16 p {
    max-width: 320px;
}

.flexinline_20{
    display: inline-flex;
    gap: 20px;
    align-items: center;
}

.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    margin: 8px 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--color-bacl02);
    background-color: transparent;
    background-clip: padding-box;
    border-radius: 4px;
    border: 1px solid #757775;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.pad16{
    padding: 16px;
}

.pad64{
    padding: 64px;
}

.pad170{
    padding: 70px 170px;
}

.flew-row{
    display: flex;
    align-items: center;
    gap: 8px;
}

.box-detalhe{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    border-radius: 16px;
    height: fit-content;
}

.box-s{
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.25);
}

.capaDetCurso{
    width: 100%;
    overflow: hidden;
    border-radius: 30px;
}

.offwhite{
    background: #d9d9d9 !important;
}

/* Modal */
#login{
    display: none;
}

#cadastro{
    display: block;
}

/* Button */
button{
    width: 100%;
    border: none;
    cursor: pointer;
}

.btn_multi{
    display: flex;
    padding: 8px 16px;
    border-radius: 4px;
    background: var(--var-corPrincipal);
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    color: var(--bg-color);
    font-size: 20px;
    font-weight: 700;
}

.btn_login, .btn_cadastro{
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex: 1 0 0;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    background: transparent;
    border-bottom: 3px solid #00F;
}

.afk{
    color: #757775;
    border-bottom: none;
}

/* Imagem */
img.img_icon_24{
    width: 24px;
    height: 24px;
    flex-shrink: 0;
}

img.img_icon_40{
    width: 40px;
    height: 40px;
    flex-shrink: 0;
}

/* Margem */
.marginLeft20 {
    margin-left: 20%;
}

.marginLeft70 {
    margin-left: 70%;
}

/* Tabela */
.table-striped tbody tr:nth-of-type(odd) {
    background-color: #F2F2F2 !important;
}

.table-striped tbody tr:nth-of-type(even) {
    background-color: transparent !important;
}

/* Mobile */
@media (max-width: 767px){

    main.detCurso {
        flex-direction: column;
    }

    .pad64, .pad170 {
        padding: 15px;
    }

    .w40, .w50, .w60{
        width: 100%;
    }

    .w50:first-child {
        display: none;
    }

    .flexinline_20 {
        display: flex;
        flex-wrap: wrap;
    }

}